:root {
    --color-red100: hsl(26, 66%, 93%);
    --color-red500: hsl(10, 79%, 65%);
    --color-blue300: hsl(186, 34%, 65%);
    --color-brown400: hsl(28, 10%, 53%);
    --color-brown950: hsl(25, 47%, 15%);
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-size: 18px;
    font-family: 'DM Sans', sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--color-red100);
}

.card-container {
    width: 540px;
    height: 661px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 125px;
    padding: 24px 32px;
    background-color: var(--color-red500);
    border-radius: 20px;
}

.head-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.head-content span,
.head-content h1 {
    color: white;
}

.head-content h1 {
    margin: 0;
    font-size: 1.78rem;
    font-weight: 600;
}

.head-circles {
    position: relative;
}

.circles-circle1,
.circles-circle2 {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.circles-circle1 {
    background-color: black;
}

.circles-circle2 {
    position: absolute;
    left: -50%;
    border: 2px solid white;
}

.card-content {
    width: 100%;
    height: 512px;
    padding: 24px 40px;
    background-color: white;
    border-radius: 20px;
}

.content-header {
    height: 56px;
    padding: 8px auto;
    font-size: 1.78rem;
    font-weight: bold;
    letter-spacing: -0.5%;
}

.content-chart {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 272px;
    padding-bottom: 62px;
    border-bottom: 2px solid var(--color-red100);
}

.chart-chart {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 150px;
}

.chart-bar {
    position: relative;
    width: 50px;
    height: 100%;
    background-color: var(--color-red500);
    border-radius: 5px;
}

.chart-bar:hover .bar-amount {
    visibility: visible;
}

.bar-highest {
    background-color: var(--color-blue300);
}

.bar-text {
    position: absolute;
    bottom: -8px;
    width: 100%;
    font-size: 0.78rem;
    text-align: center;
    color: var(--color-brown400);
    letter-spacing: 2.5%;
    transform: translateY(100%);
}

.bar-amount {
    position: absolute;
    top: -48px;
    width: 75px;
    height: 40px;
    font-size: 1rem;
    line-height: 40px;
    text-align: center;
    color: white;
    background-color: var(--color-brown950);
    border-radius: 5px;
    visibility: hidden;
    transform: translateX(-17%);
}

.content-footer {
    padding: 30px 0;
}

.footer-title,
.footer-caption,
.footer-increase {
    font-size: 1rem;
    letter-spacing: 1%;
}

.footer-amount {
    font-size: 2.67rem;
    font-weight: 600;
    color: var(--color-brown950);
    letter-spacing: 1%;
}

.footer-increase {
    font-weight: bold;
    color: var(--color-brown950);
}

.footer-amount-container {
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
}

.footer-caption-container span {
    display: block;
    text-align: right;
}

.footer-caption {
    color: var(--color-brown400);
}

.hidden {
    visibility: hidden;
}

.attribution {
    position: absolute;
    bottom: 5px;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translateX(-50%);
}

@media (max-width: 800px) {
    html,
    body {
        font-size: 16px;
    }
    main {
        height: 100vh;
    }
    .card-container {
        width: 344px;
        height: 535px;
    }
    .card-head {
        height: 96px;
    }
    .card-content {
        height: 422px;
    }
    .content-chart {
        height: 240px;
    }
    .chart-bar {
        width: 33px;
    }
    .bar-amount {
        transform: translateX(-28%);
        z-index: 10;
    }
    .content-footer {
        padding: 16px 0;
    }
    .footer-title,
    .footer-caption {
        font-size: 0.75rem;
    }
    .footer-amount {
        font-size: 2.1rem;
    }
}
